
<html>
    
    <head>
        <script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.21/jquery-ui.min.js"></script>
        <script src="http://cdn.jquerytools.org/1.2.7/full/jquery.tools.min.js"></script>
        
        <title>Mycrogifts</title>
        <style>
                #idTourLink:hover
                {
                    background-color: rgb(242,248,248);
                    border-radius: 5px;
                    padding-bottom: 4px;
                    padding-top: 4px;
                    
                }
            </style>
    </head>
    <body style="background: rgb(247,248,253);">
        <div id="idHome">
            
            <nav style="background:rgb(238,237,251); width: 1225px; height: 59px;">
                <img src="{{ STATIC_URL }}mycrogiftsLogo.png" style="position: absolute; top: 15px; left: 290px;">
                <img src="{{ STATIC_URL }}beta.png" style="position: absolute; left: 550px;">
                <ul style="
                    position: absolute;
                    top: 20px;
                    left: 700px;
                    list-style: none;
                    color: rgb(128,156,157);
                    font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif; text-transform: uppercase;
                    ">
                    <!--li id="idTourButton"><button id="idTourLink">Send an HTTP GET request to a page and get the result back</button></li-->
                    <!--li id="idTourButton"><a id="idTourLink" href="http://127.0.0.1:8000/#idTheTour">Tour</a></li-->
                    <li id="idTourButton" style="
                        cursor: pointer;
                        cursor: hand;">
                        <a id="idTourLink">Tour</a>
                    </li>
                </ul>
            </nav>
            <img src="{{ STATIC_URL }}main.png" >    
        </div>
        
        <div id="idTheTour" style="
            background:rgb(247,248,253);
            position: absolute;
            top: 650px;
            ">
            <img src="{{ STATIC_URL }}theTour.png" style="
                position: absolute;
                top: 60px;    
                ">
            <h2 style="
                text-align: center;
                color: gray;
                background: rgb(247,248,253);
                width: 430px;
                position: absolute;
                left: 400px;
                top: 360px;
                font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;">
                Find out how we turned gifts into a gratifying experience for all
            </h2>
            <img src="{{ STATIC_URL }}tour.png" style="
                width: 792px;
                height:1300px;
                position: absolute; left: 200px; top: 500px;">           
        </div>
        <div style="
            background: rgb(242,248,248);
            position: absolute; top: 2490px;
            width: 1225px;
            height:210px;
            ">
            <div id="idSocial" style="position: absolute; top: 35px; width: 460px; height: 130px; border-right:1px solid lightGray;">
                <div id="idFacebook" style="                
                        position: absolute; left: 230px; top: 10px;
                        cursor: pointer;
                        cursor: hand;">
                    <img src="{{ STATIC_URL }}facebook.png" style="                
                        width: 40px; height: 40px;">
                    <!--<a id="idFacebookIcon" href="http://www.facebook.com/MycroGifts">
                        <img src="{{ STATIC_URL }}facebook.png" style="                
                            position: absolute; left: 240px; top: 45px; width: 40px; height: 40px;">
                    </a>-->
                    <div style="position: absolute; left: 50px; top: 5px; width: 160px; line-height: 70%;" >
                       <p style="
                            font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
                            font-size: 80%;
                            margin-top:0px;
                            margin-bottom: 4px;
                            color: gray;
                            ">
                            follow us on facebook
                       </p>
                       <p style="
                            font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
                            font-size: 55%;
                            margin-top:0px;
                            margin-bottom: 4px;
                            color: gray;
                            ">
                            And remember to let us know how we're doing
                       </p>    
                    </div>    
                </div>
                
                
                <div id="idTwitter" style="                
                        position: absolute; left: 230px; top: 75px;
                        cursor: pointer;
                        cursor: hand;">
                    <img src="{{ STATIC_URL }}twitter.png" style="                
                        width: 40px; height: 40px;">
                    <!--<a id="idFacebookIcon" href="http://www.facebook.com/MycroGifts">
                        <img src="{{ STATIC_URL }}facebook.png" style="                
                            position: absolute; left: 240px; top: 45px; width: 40px; height: 40px;">
                    </a>-->
                    <div style="position: absolute; left: 50px; top: 5px; width: 180px; line-height: 70%;" >
                       <p style="
                            font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
                            font-size: 80%;
                            margin-top:0px;
                            margin-bottom: 4px;
                            color: gray;
                            ">
                            follow us on twitter
                       </p>
                       <p style="
                            font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
                            font-size: 55%;
                            margin-top:0px;
                            margin-bottom: 4px;
                            color: gray;
                            ">
                            Allways a good place for a quick chat
                       </p>    
                    </div>    
                </div>
            </div>
            <div id="idSiteMap" style="
                position: absolute;
                top: 35px;
                left: 460px;
                width: 255px;
                height: 130px;
                border-right:1px solid lightGray;">                
                <div style="                
                        position: absolute; left: 25px; top: 15px; line-height: 70%;">
                    <p style="
                            font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
                            font-size: 80%;
                            margin-top:0px;
                            margin-bottom: 4px;
                            color: gray;
                            ">
                            Site map
                    </p>
                    <p style="
                            font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
                            font-size: 55%;
                            margin-top:0px;
                            margin-bottom: 4px;
                            color: gray;
                            ">
                            Should you get lost. You can allways use this
                    </p>
                    <ul style="
                        list-style: none;
                        font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
                        font-size: 55%;
                        position: absolute; left: -35px;
                        color: gray;">
                        <li style="cursor: pointer; cursor: hand;"><a id="idSiteMapHomeLink" style="text-decoration: underline;">Home</a></li>
                        <li style="cursor: pointer; cursor: hand;"><a id="idSiteMapTourLink" style="text-decoration: underline;">Tour</a></li>
                    </ul>
                </div>
            </div>
            <div id="idReportBug" style="
                position: absolute;
                top: 50px;
                left: 740px;
                width: 255px;
                height: 130px;
                line-height: 70%;
                ">
                <p style="
                        font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
                        font-size: 80%;
                        margin-top:0px;
                        margin-bottom: 4px;
                        color: gray;
                        ">
                        REPORT A BUG
                </p>
                <p style="
                        font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
                        font-size: 55%;
                        margin-top:0px;
                        margin-bottom: 4px;
                        color: gray;
                        ">
                        Love the app, love the devs? Give us a hand and tell us if you find a nasty bug on our code
                </p>
            </div>
        </div>
        
        <div id="idCopyright" style="
            position: absolute; top: 2700px;
            width: 1225px;
            height:40px;
            font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
            font-size: 35%;
            color: gray;
            ">
            <p style="position: absolute; left: 575px; top: 0px;">Copyright Mycrogifts 2012</p>
        </div>
        <div id="idMenu" style="
            height: 60px;
            width: 1225px;
            background-color: white;
            position: absolute;
            top: 537px;
            ">
            <div id="idGetApp" style="
                width: 200px;
                background-color: white;
                position: absolute;
                left: 300px;
                margin-bottom: 5px;
                margin-top: 5px;
                border-right: 1px solid lightGrey;
                cursor: pointer; cursor: hand;
                ">
                <img src="{{ STATIC_URL }}apple_android.png" style="                
                        width: 65px; height: 50px;">
                <p style="
                        font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
                        font-size: 80%;
                        position: absolute;
                        left: 80px;
                        top: 0px;
                        color: gray;
                        ">
                        Get the app
                </p>
            </div>
            <div id="idKnowApp" style="
                width: 200px;
                background-color: white;
                position: absolute;
                left: 510px;
                margin-bottom: 5px;
                margin-top: 5px;
                border-right: 1px solid lightGrey;
                cursor: pointer; cursor: hand;
                ">
                <img src="{{ STATIC_URL }}knowApp.png" style="                
                        width: 65px; height: 50px;">
                <p style="
                        font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
                        font-size: 80%;
                        position: absolute;
                        left: 80px;
                        top: 0px;
                        color: gray;
                        ">
                        Know the app
                </p>
            </div>
            <div class="modalInput" rel="#prompt" id="idTellUs" style="
                width: 250px;
                background-color: white;
                position: absolute;
                left: 720px;
                margin-bottom: 5px;
                margin-top: 5px;
                cursor: pointer; cursor: hand;
                ">
                <img src="{{ STATIC_URL }}tellUs.png" style="                
                        width: 65px; height: 50px;">
                <p style="
                        font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
                        font-size: 80%;
                        position: absolute;
                        left: 80px;
                        top: 0px;
                        color: gray;
                        ">
                        Tell us how we're doing
                </p>
                
            </div>
            <div id="idMenuSeparator" style="
                width: inherit;
                height: 2;
                background-color: lightGrey;
                position: absolute;
                top: 58px;
                ">
                
            </div>
        </div>
        <div id="prompt" style="
            background-color:#fff;
            display:none;
            max-width: 350px;
            padding:15px;
            text-align:left;
            border:2px solid #333;
 
            opacity:0.8;
            -moz-border-radius:6px;
            -webkit-border-radius:6px;
            -moz-box-shadow: 0 0 50px #ccc;
            -webkit-box-shadow: 0 0 50px #ccc;
            ">
            <form>
                Email: <input id="idEmail" type="text"> (Optional)<br>
                Message:<br>
                <textarea id="idEmailContent" cols="30" rows="10" style="max-width: 350px;"></textarea>
                <br>
                <button type="submit" id="idEmailSend"> Send </button>
                <button type="button" class="close"> Cancel </button>
            </form>
        </div>
        <script type="text/javascript" >
            $(document).ready(function() {
                var triggers = $(".modalInput").overlay({

                    // some mask tweaks suitable for modal dialogs
                    mask: {
                      color: '#ebecff',
                      loadSpeed: 200,
                      opacity: 0.9
                    },
              
                    closeOnClick: false
                });
            
                $("#prompt form").submit(function(e) {
                    var email = $("#idEmail").val();
                    var emailContent = $("#idEmailContent").val();  
                    $.get("/sendEmail/",{email:email,emailContent:emailContent});
                    alert("Thank you. We love you");
                    // close the overlay
                    triggers.eq(1).overlay().close();
            
                  // get user input
                  //var input = $("input", this).val();
            
                  // do something with the answer
                  
                  
                  //triggers.eq(1).html(input);
            
                  // do not submit the form
                    return e.preventDefault();
              });    
            });
            
            
            $("#idTourLink").click(function() {
                $.get("/tourPressed/");
                $(document.body).animate({ 'scrollTop':   $('#idTheTour').offset().top}, 800);
            });
            
            $("#idSiteMapTourLink").click(function() {
                $.get("/tourPressed/");
                $(document.body).animate({ 'scrollTop':   $('#idTheTour').offset().top}, 800);
            });
            
            $("#idSiteMapHomeLink").click(function() {
                $.get("/homePressed/");
                $(document.body).animate({ 'scrollTop':   $('#idHome').offset().top}, 800);
            });
            
            $("#idFacebook").click(function() {
                $.get("/facebookPressed/");                
                window.open("http://www.facebook.com/MycroGifts");                
            });
            
            $("#idTwitter").click(function() {
                $.get("/twitterPressed/");                
                window.open("https://twitter.com/Mycrogifts");                
            });
            
            function getScrollingPosition()
            {
                var position = [0, 0];
                if (typeof window.pageYOffset != 'undefined'){
                    position = [
                        window.pageXOffset,
                        window.pageYOffset
                    ];
                }
                else if (typeof document.documentElement.scrollTop != 'undefined' && document.documentElement.scrollTop > 0) {
                    position = [
                        document.documentElement.scrollLeft,
                        document.documentElement.scrollTop
                    ];
                }
                else if (typeof document.body.scrollTop != 'undefined') {
                    position = [
                        document.body.scrollLeft,
                        document.body.scrollTop
                    ];
                }
                return position;
            };
            window.onscroll = function()
            {
                var scrollpos = getScrollingPosition();
                
                if (scrollpos[1] > 537){
                    
                    var menuElement =  document.getElementById("idMenu");
                    menuElement.setAttribute("style","height: 60px; width: 1225px; background-color: white; position: fixed; top: 0px;");
                    
                }
                else{
                    var menuElement =  document.getElementById("idMenu");
                    menuElement.setAttribute("style","height: 60px; width: 1225px; background-color: white; position: absolute; top: 537px;");
                }
            };
            
        </script>
    </body>
</html>